<tr>
        <td>{{first_name}}</td>
        <td>{{last_name}}</td>
        <td>{{ format_date dateOfBirth}}</td>
        <td>{{email}}</td>
        <td>{{phone_number}}</td>
        <td><a class="btn btn-primary" href="/api/patient/{{patient_id}}">View Patient</button></a>
</tr>