<section class="container bg-dark p-4 rounded-1">
    <div class="main-body">
        <div class="row d-flex">
            
            <div class="col-md-3 mb-3">
                <div class="card-body bg-light rounded-3">
                    <div class="d-flex flex-column text-center p-1"> 
                        <h3>{{currentPatient.first_name}} {{currentPatient.last_name}}</h3>
                        <a onclick="displayProfile()" class="btn btn-success my-2"><h5 class="my-1">Profile</h5></a>
                        <a onclick="allOrdersProfile()" class="btn btn-secondary my-2" ><h5 class="my-1">All Orders</h5></a>
                        <a onclick="pendingProfile()" class="btn btn-secondary my-2"><h5 class="my-1">Pending Orders</h5></a>
                        <a onclick="completeProfile()" class="btn btn-secondary my-2"><h5 class="my-1">Complete Orders</h5></a>
                        <a onclick="newProfile()" class="btn btn-secondary my-2"><h5 class="my-1">New Order</h5></a>

                    </div>   
                </div>
            </div>
                
            <div class="col-md-9" id="profile" >
                <div class="card mb-3">
                    <div class="card-body">
                        <form class="form update-form">
                            <div class="row">
                                <div class="col-sm-3 align-self-center">
                                    <h6 class="mb-0">Patient id</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input disabled name="PatientId" class="form-control" id="ptId" value="{{currentPatient.id}}">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3 align-self-center">
                                    <h6 class="mb-0">First Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" name="firstName" class="form-control" id="ptFirstName" value="{{currentPatient.first_name}}">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3 align-self-center">
                                    <h6 class="mb-0">Last Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" name="lastName" class="form-control" id="ptLastName" value="{{currentPatient.last_name}}">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3 align-self-center">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" name="ptEmail" class="form-control" id="ptEmail" value="{{currentPatient.email}}">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3 align-self-center">
                                    <h6 class="mb-0">Date of Birth</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="date" name="ptDOB" class="form-control" id="ptDOB" data-date-format="M/D/YYYY" value="{{ format_date currentPatient.dateOfBirth }}">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3 align-self-center">
                                    <h6 class="mb-0">Phone Number</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="tel" name="ptPhoneNumber" class="form-control" id="ptPhoneNumber" value="{{currentPatient.phone_number}}">    
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="com-sm-2 ms-auto">
                                    <button type="submit" id="savebtn" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>

            {{!-- all orders --}}
        <div class="col-md-9" id="allOrders" style="display: none;">
            <div class="card mb-3">
                <div class="card-body">
        
                    <div class="container-fluid p-5 bg-light">
                        <h6 style="text-align: center;">All Orders (For this patient)</h6>
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Date of order</th>
                                        <th scope="col">type of order</th>
                                        <th scope="col">Order status</th>
                                        <!--patientId foreign key-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <!---->
                                    {{!-- {{#each patients as |patient|}}
                                    {{> patient-data}}
                                    {{/each}} --}}
                                    <tr>
                                        <th scope="col">Example</th>
                                        <th scope="col">Dynamic later</th>
                                        <th scope="col">fix</th>
                                        <!--patientId foreign key-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
                </div>
        {{!-- pending orders --}}
<div class="col-md-9" id="pending" style="display: none;">
    <div class="card mb-3">
        <div class="card-body">

            <div class="container-fluid p-5 bg-light">
                <h6 style="text-align: center;">Pending(For this patient)</h6>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Date of order</th>
                                <th scope="col">type of order</th>
                                <th scope="col">Order status</th>
                                <!--patientId foreign key-->
                            </tr>
                        </thead>
                        <tbody>
                            <!---->
                            {{!-- {{#each patients as |patient|}}
                            {{> patient-data}}
                            {{/each}} --}}
                            <tr>
                                <th scope="col">Example</th>
                                <th scope="col">Dynamic later</th>
                                <th scope="col">fix</th>
                                <!--patientId foreign key-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
                    {{!-- Complete orders --}}
<div class="col-md-9" id="Complete" style="display: none;">
    <div class="card mb-3">
        <div class="card-body">
            <div class="container-fluid p-5 bg-light">
                <h6 style="text-align: center;">Complete (For this patient)</h6>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Date of order</th>
                                <th scope="col">type of order</th>
                                <th scope="col">Order status</th>
                                <!--patientId foreign key-->
                            </tr>
                        </thead>
                        <tbody>
                            <!---->
                            {{!-- {{#each patients as |patient|}}
                            {{> patient-data}}
                            {{/each}} --}}
                            <tr>
                                <th scope="col">Example</th>
                                <th scope="col">Dynamic later</th>
                                <th scope="col">fix</th>
                                <!--patientId foreign key-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
                {{!-- new order --}}
<div class="col-md-9" id="new" style="display: none;">
<div class="card mb-3">
    <div class="card-body">
        <div class="container-fluid p-5 bg-light">
            <h6 style="text-align: center;">New order</h6>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Date of order</th>
                            <th scope="col">type of order</th>
                            <th scope="col">Order status</th>
                            <th scope="col">Send Order</th>
                            <!--patientId foreign key-->
                        </tr>
                    </thead>
                    <tbody>
                        <!---->
                        {{!-- {{#each patients as |patient|}}
                        {{> patient-data}}
                        {{/each}} --}}
                        <tr>
                            <form class="order-form">
                                <th scope="col"><input type="date"></th>
                                <th scope="col">
                                    <select name="orderType" id="orderType">
                                        <option value="glasses">Glasses</option>
                                        <option value="contacts">Contacts</option>
                                    </select>
                                </th>
                                <th scope="col">
                                    <select name="status" id="orderStatus">
                                        <option value=0>Pending</option>
                                        <option value=1>Ready</option>
                                        <option value=2>Complete</option>
                                    </select>
                                </th>
                                <th>
                                    <button id="orderSubmit">Submit</button>
                                </th>
                            </form>
                            <!--patientId foreign key-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
        </div>
    </div>    
</section>
<script src="/js/patientDisplay.js"></script>
<script src="/js/patient-page.js" ></script>
